[Oo]bj/
[Bb]in/
_ReSharper.*/
packages/
artifacts/
PublishProfiles/
.vs/
bower_components/
node_modules/
**/wwwroot/
*.lock.json
*.user
*.suo
*.cache
*.wsp
_ReSharper.*
.tscache/
.baseDir.ts
*.coverage
TestResults/
.buildtools/
/GPS.Web/
archives/